.titleCenter {
  color: black;
  text-align: center;
}

.titleLeft {
  color: black;
  text-align: left;
}

.paragraphCenter {
  color: black;
  text-align: center;
}

.paragraphLeft {
  color: black;
  text-align: left;
}

.bold {
  color: black;
  font-weight: bold;
}
